<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="True" scanPeriod="30 seconds">
	<appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<Pattern>%d{[yyyy.MM.dd HH:mm:ss.SSS]} [%-5level] [%thread] %msg \(%F:%L\) %n</Pattern>
		</encoder>
	</appender>
	
	<appender name="dailyRollingFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>/logs/library_service.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>/logs/library_service.%d{yyyy-MM-dd}.log.zip</FileNamePattern>
			<maxHistory>3</maxHistory>
		</rollingPolicy>

		<encoder>
			<Pattern>.%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg \(%F:%L\)%n</Pattern>
		</encoder>
	</appender>

	<root level="INFO" >
		<appender-ref ref="consoleAppender" />
		<appender-ref ref="dailyRollingFileAppender" />
	</root>

</configuration>